*,
*:before,
*:after
  padding: 0
  margin: 0
  box-sizing: border-box

//html
  //background-color: var()

//body
//  font-family: var(--main-font)
//  font-size: 16px
//  line-height: 1.3
//  color: var(--white)

pre, code
  //font-family: 'JetBrains Mono', monospace
  font-family: 'Source Code Pro', monospace

button
  font: inherit
